/* styles.css */
.event-list-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.event-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15); /* צל כהה מעט */
    transition: transform 0.2s, box-shadow 0.2s;
    text-decoration: none; /* לבטל קו תחתון */
    color: inherit; /* לשמור על הצבעים המקוריים */
    display: flex; /* שימוש ב-Flexbox */
    flex-direction: column; /* סידור התוכן אנכית */
    justify-content: center;
    align-items: center;
    text-align: center; /* ליישר טקסט */
    height: 150px; /* להגדיר גובה אחיד */
    border: 1px solid rgba(0, 0, 0, 0.1); /* קצה כהה */
}

.event-card:hover {
    transform: scale(1.03); /* הגדלה קלה */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* צל עמוק יותר במעבר עכבר */
}
/* 
.event-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
} */

.event-title {
    font-size: 1.5em;
    color: #007bff;
    margin-bottom: 10px;
}

.event-date {
    font-size: 1em;
    color: #555;
    margin-bottom: 15px;
}

.event-link {
    text-decoration: none;
    color: #007bff;
}

.event-link:hover {
    text-decoration: underline;
}