.event-list-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.event-card {
    margin-bottom: 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    transition: transform 0.2s, box-shadow 0.2s;
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 150px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.event-card:hover {
    transform: scale(1.03);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.event-title {
    font-size: 1.5em;
    color: #007bff;
    margin-bottom: 10px;
}

.event-date {
    font-size: 1em;
    color: #555;
    margin-bottom: 15px;
}

.event-link {
    text-decoration: none;
    color: #007bff;
}

.event-link:hover {
    text-decoration: underline;
}