.organizer-dashboard-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.create-event-form {
    margin-bottom: 20px;
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.create-event-form input {
    display: block;
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.organizer-events-list ul {
    list-style-type: none;
    padding: 0;
}

.organizer-events-list li {
    padding: 10px;
    background-color: #fff;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* OrganizerDashboard.css */
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.popup-content ul {
    list-style-type: none;
    padding: 0;
}

.popup-content li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.popup-content button {
    margin-left: 10px;
}