.organizer-dashboard-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.create-event-form {
    margin-bottom: 20px;
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.create-event-form input {
    display: block;
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.organizer-events-list {
    margin-top: 30px;
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.organizer-events-list h2 {
    font-size: 1.8em;
    color: #007bff;
    text-align: center;
    margin-bottom: 20px;
}

.organizer-events-list ul {
    list-style: none;
    padding: 0;
}

.organizer-events-list li {
    background-color: white;
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.organizer-events-list li:hover {
    background-color: #f0f8ff;
}

.organizer-events-list button.manage-event-button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

.organizer-events-list button.manage-event-button:hover {
    background-color: #218838;
}

.toggle-past-events-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1.1em;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
    transition: background-color 0.3s ease;
}

.toggle-past-events-button:hover {
    background-color: #0056b3;
}

.past-events-section {
    margin-top: 30px;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.organizer-events-list button.past-event-button {
    background-color: #6c757d;
    color: white;
    cursor: not-allowed;
    pointer-events: none;
}

.organizer-events-list button.past-event-button:hover {
    background-color: #5a6268;
}

.toggle-create-event-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1.1em;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
    transition: background-color 0.3s ease;
}

.toggle-create-event-button:hover {
    background-color: #0056b3;
}